/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
div.main{
background: #b443fb url('images/wallp.png');
    min-height: 100px;
}
div.use{
    background: white;
    min-height: 100px;
}
div.nutrition{
    background: #e5c000;
    min-height: 100px;
}
div.order{
    background: #f6eafe;
    min-height: 100px;
}
div.copyright{
    background: white;
    min-height: 100px;
}
.wrapper{
    width: 1110px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.top_menu{
    padding-top:40px;
}
div.logo{
    display: inline-block;
    width: 175px;
}
div.menu{
    display: inline-block;
    width: 935px;
    text-align:right;
    vertical-align: top;
}
.menu>a{
    font-family: Quicksand;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin:0 15px;
}
.buy_link{
    border: 3px solid white;
    border-radius: 20px;
    padding:8px 45px;
}
.main>.wrapper>.slogan>h1{
    color:white;
    font-family: Quicksand;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-top:155px;
    margin-bottom:10px;
}
.main>.wrapper>.slogan{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    font-family: Quicksand;
}
.passion_image{
    text-align: center;
    margin-top:-90px;
    margin-bottom: -200px;
    background-image: radial-gradient(circle 300px at 50% 50%, #e6bcff, rgba(185, 75, 255, 0));
}
.use>.wrapper>.slogan>h2{
    color:black;
    font-family: Quicksand;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
.use>.wrapper>.slogan{
    color: black;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.use{
    padding-top: 173px;
}
.variants>div{
    display: inline-block;
    width:370px;
    text-align: center;
    margin-bottom:30px;
}
.text{
    color: black;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
/*div.general - vse tegi div s classom*/
/*section{*/
    /*display: grid;*/
    /**/
/*}*/